<style type="text/css">
	.container{
		border-color: gray;
		width: 600;
        table-layout: fixed;
        margin-left: auto;
        margin-right: auto;
	}
    #div1{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #div2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<!DOCTYPE html>
<html>
	<body style="background-color: #272727">
        <br>
        <br>
        <h1 align="center", style="color: #FFFFFF">Random Sudoku Board</h1>
        <br>
		<table class="container", border= "1", id="sudoku">
            <thead>
                <tr style="text-align: center"></tr>
            </thead>
        </table>
        <br>
        <div id = "div1">
            <button type="submit", id="solve">Solve</button>
            <button type="submit", id="unsolve">Unsolve</button>  
        </div>
        <br>
        <div id ="div2">
            <button type="submit", id="new">New board</button>
            <br>
            <label style="color: white">Creating a new board may take a while</label>
        </div>
	</body>
</html>

<script src="/static/js/sudokuboard.js"></script>
<script type="text/javascript">
	let board = document.getElementById("sudoku");
    let myBoard = new Board();
    myBoard.fill();
	let boardArray = myBoard.getTableArr();
    myBoard.solve();
    let solutionArray = myBoard.getTableArr();
    
    for (let i = 0; i < 9; i++){
            let newRow = sudoku.insertRow(-1); 

        for (let j = 0; j < 9; j++) {

            let newCell = newRow.insertCell(0);            
            newCell.style.textAlign = "center";
            newCell.style.color = 'white';
            newCell.setAttribute("height", 60);
            newCell.setAttribute("id", i + "," + Math.abs(j - 8));

            if (j == 2 || j == 5){
                newCell.style.borderLeft = "thin solid white";              
            }
            if (i == 2 || i == 5){
                newCell.style.borderBottom = "thin solid white";                
            }
            if (j == 3 || j == 6){
                newCell.style.borderRight= "thin solid white";              
            }
            if (i == 3 || i == 6){
                newCell.style.borderTop = "thin solid white";
            }
        }
    }

    let count = 0;
    for (let i = 0; i < 9; i++){
        for (let j = 0; j < 9; j++) {
            if(boardArray[count] != ' '){
                document.getElementById(i + "," + j).innerHTML = boardArray[count];
            }
            else{
                document.getElementById(i + "," + j).innerHTML = " ";
            }
            count++;
        }
    }

    document.getElementById("solve").addEventListener("click", () => {

        if(solutionArray.length == 0){
            alert("Sorry, no solution was found");
        }
        else{
            let count = 0;
            for (let i = 0; i < 9; i++){
                for (let j = 0; j < 9; j++) {
                    document.getElementById(i + "," + j).innerHTML = solutionArray[count];
                    count++;
                }
            }
        }
    });

    document.getElementById("new").addEventListener("click", () => {
        window.location = "/random"
    });

    document.getElementById("unsolve").addEventListener("click", () => {
        let count = 0;
        for (let i = 0; i < 9; i++){
            for (let j = 0; j < 9; j++) {
                if(boardArray[count] != ' '){
                    document.getElementById(i + "," + j).innerHTML = boardArray[count];
                }
                else{
                    document.getElementById(i + "," + j).innerHTML = "\n";
                }
                count++;
            }
        }   
    });
</script>
